<ion-content class="content-meu" scroll-y='false'>
  <div class="card">
    <img class="icone" src="../../assets/img/icon5.png" alt="">
  </div>

  <div class="mainCard">
    <h2 class="fonte txtLogAluno">
      Login <br>
      Empresa
    </h2>

    <ion-item  mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">Login</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item  mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <button class="btnEntrar fonte-5" > Entrar</button>

    <p  class="fonte-5 esqueciSenha" href=""> <a href="">Esqueci minha senha</a>  :(</p>
    
  </div>
</ion-content>