ion-content {
    --ion-background-color: var(--ion-color-secondary) !important;
    
  }



  .titulo{
      width: 900%;
    margin-left: 5%;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight:normal;
    font-size: 24px;
    color:white;
  }

  ion-label {
    margin-left: 30px !important;
    margin-top: 10px !important;
    
    color: var(--ion-color-medium);
    font-family: Noto Sans TC;
}

  .vaga{
      width: 90%;
  border-radius: 10px;
  left: 5%;
  top: 10px;
  margin-bottom: 15px;
  --border-color: rgb(255, 255, 255); 
  --ion-background-color: var(--ion-color-tertiary);
  color: var(--ion-color-medium);
  }




span{
    font-size: 10px;
}



.botoes{
    margin-top: 6%;
    margin-left: 50%;
}