<ion-content>

  <div class="info">

    <ion-avatar class="ion-margin-start">
      <img src="../../assets/img/candidato.png" alt="">
    </ion-avatar>

    <div class="subtitulo fonte-padrao">
      <h3 class="titulo">Núbia Knoll</h3>
      <h3 class="descricao">Gerente de vendas</h3>
      <h5 class="descricao">Matutino</h5>
    </div>


  </div>
  <h1 class="fonte-padrao">Suas vagas</h1>


  <ion-card class="culinaria" [routerLink]="['/vagasculinaria']">
    <img class="imgCategoria" src="../../assets/img/culinaria.png" alt="">
    <div class="card-title">Culinária</div>

  </ion-card>



</ion-content>