<ion-content>
 <div class="cardFundo"> </div>
 <ion-card class="info"> 
  <ion-card-header>
    <ion-card-title class="titulo">Núbia Knoll</ion-card-title>
    <ion-card-subtitle class="subtitulo">{{emailUser}}</ion-card-subtitle>
  </ion-card-header>
  <img class="avatar" src="../../assets/img/profile.png" alt="">
  <ion-searchbar shadows="none" class="pesquisa" placeholder="Buscar vagas"></ion-searchbar>
</ion-card>  
<h1 class="suasvagas">Suas vagas</h1>



<ion-card div class="culinaria">
  <img class="imgculinaria" src="../../assets/img/culinaria.png" alt="">
  <div class="card-title">Culinária</div>
  <div class="card-subtitle"></div>
</ion-card>
<h1 class="vagassalvas">Vagas salvas</h1>
<ion-card div class="informatica">
  <img class="imginformatica" src="../../assets/img/informatica.png" alt="">
  <div class="card-title">Informática</div>
  <div class="card-subtitle"></div>
</ion-card>

</ion-content>
