<ion-item class="item" lines="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-item>

<ion-content fullscreen>
  
  <div class="cardFundo"> </div>
  


  <h1 class="olanome">Olá, Empresa!</h1>
  <ion-searchbar class="pesquisa" placeholder="Buscar vagas"></ion-searchbar>

  <h1 class="candidatos">Candidatos</h1>

 <ion-card div class="candidato">
    <img class="imgcandidato" src="../../assets/img/candidato.png" alt="">
    <div class="card-titlecandidato">Núbia Knoll Scatone</div>
    <ion-card-subtitle class="subtitulo">Auxiliar de informática <hr> Disponibilidade integral</ion-card-subtitle>
    <div class="card-subtitle"></div>
  </ion-card>



</ion-content>
