<!-- <ion-item class="item" lines="none">
    <ion-toolbar>
      <ion-buttons slot="start">
        
          <ion-back-button></ion-back-button>
        
        <ion-menu-button color="medium" ></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item> -->

<ion-content>





  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>

    <ion-button slot="end" [routerLink]="['/publica-vaga']">
      <ion-icon name="add"></ion-icon>
      Nova vaga
    </ion-button>

  </ion-item>
  <ion-item class="hr">

    <h1 class="olanome">Olá, {{empresa}}!</h1>
  </ion-item>


  <h4 class="relacionados">Candidatos relacionados a sua empresa</h4>

  <candidato></candidato>
  <candidato></candidato>
  <candidato></candidato>
  <candidato></candidato>
  <candidato></candidato>
  <candidato></candidato>



</ion-content>