ion-content{

  --ion-background-color: var(--ion-color-secondary);

}


.olanome{
    
    width: auto;
    height: 35px;
    margin-left: 37px;
    margin-top: 10%;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: normal;
    
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    

}
.relacionados{
  
  width: auto;
  height: 35px;
  margin-left: 37px;
  margin-top: 20px;
  padding-bottom: 30px;
  
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 35px;
  /* identical to box height */
  
  letter-spacing: 0.015em;
  
  color: #FFFFFF;
  
}


    



