ion-content {
    --ion-background-color: var(--ion-color-medium) !important;
    
  }

.titulo{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;

}
  .texto{

    margin-left: 10px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    
    color: #1C1C1C;}

    .botoes{
        margin-left: 43%;
    }