
<ion-content>
  <ion-item class="hr2">
    <ion-label slot="end" class="titulo">
      <h3>SENAC Joinville</h3>
      <p>Ver perfil</p>
    </ion-label>
  <ion-avatar slot="end">
    <img src="../../assets/img/candidato.png">
  </ion-avatar>
</ion-item>
<ion-item lines="none"  class="texto">
<ion-text>
  <p>
  Tem vaga no SENAC para Webdesigner.
    </p>

    <p>
  Afim de fazer parte da nossa equipe e trabalhar em projetos super bacanas para Web?
</p>

  <p>
  Se liga nos requisitos:
</p>

<p>
  Experiência em criação de projetos para Web como sites, landing pages, banners, aplicativos, etc;
  Photoshop;
  Adobe XD;
  UX / UI;
  Trabalho em Equipe.
</p>

<p>
  Vaga para home office, trabalho remoto.
</p>

<p>
  Ao se candidatar, é obrigatório o envio de portfólio com projetos que já tenha criado.
</p>

<p>
  Tipo de vaga: Tempo Integral, Meio Período, Freelancer, Efetivo/CLT
</p>

<p>
  Experiência:
  Web Designer (Preferencial)
</p>

  <p>
  Trabalhar remotamente:
  Sim
</p>
</ion-text>
</ion-item>

<ion-button class="botoes" type="submit" >
  Enviar Currículo
</ion-button>

</ion-content>
