 
<ion-item color="medium" lines='none'>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="inicio"></ion-back-button>
  </ion-buttons>
</ion-item>

<ion-content>
  <ion-item class="hr2">
    <ion-label  class="titulo">
      <h3>{{empresaData.nomeempresa}}</h3>
      <p>Ver perfil</p>
    </ion-label>
  <ion-avatar slot="start"> 
    <img src="../../assets/img/candidato.png">
  </ion-avatar>
</ion-item>
<ion-item lines="none"  class="texto">
<ion-text>
  <p>
  Tem vaga na {{ empresaData.nomeempresa}} para {{ vagaData.nomeVaga}}.
    </p>

    <p>
  {{ vagaData.descricao}}
</p>

  <p>
  Se liga nos requisitos:
</p>

<p>
 {{ vagaData.requisitos}}
</p>



<p>
  Tipo de vaga: {{ vagaData.tipo}}
</p>

<p>
  Experiência:
  {{ vagaData.experiencia}}
</p>

  <p>
  Trabalhar remotamente:
  Sim
</p>
</ion-text>
</ion-item>

<ion-button class="botoes" type="submit" >
  Enviar Currículo
</ion-button>

</ion-content>
