ion-menu {
    --ion-background-color: #57566E;
    --ion-text-color: var(--ion-color-primary-contrast);
  
    ion-toolbar {
      --background: #57566E;
    }
  
    ion-list {/* optional, but it needs when you use gradient as a background color.*/
      background: transparent;
    }
  }



.avatar{
    position: absolute;
width: 52px;
height: 53px;
left: 14px;
top: 30px;
}

.avatarnome{
    position: absolute;
width: 106px;
height: 35px;
left: 79px;
top: 48px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
letter-spacing: 0.015em;

}

.homenome{
    position: absolute;
width: 45px;
height: 26px;
left: 72px;
top: 134px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* identical to box height */

letter-spacing: 0.015em;
}