<ion-app>
  <div class="cardFundo"> </div>
  <meta name="color-scheme" content="#" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
    
      <ion-content>
        <ion-list id="inbox-list">
          <ion-avatar>
            
             <img class="avatar" src="../../assets/img/administracao.png" alt="">
             <ion-label class="avatarnome">Núbia Knoll</ion-label>
          </ion-avatar>
          

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" (click)="debug()" routerDirection="root" [routerLink]="[p.url]"
              lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>







        <ion-list>
          <ion-item lines="full">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>
              Toggle Dark Theme
            </ion-label>
            <ion-toggle checked='true' (ionChange)="toggleDarkness()" value='true' [(ngModel)]="darkMode"></ion-toggle>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>