<app-header-back>
  
</app-header-back>
<ion-content>

 <form (ngSubmit)="validaForm(nome,cpf, email, nascimento, celular, pcd, empregado, cep, uf, cidade, endereco, numero, senha)">
   <ion-label >Nome <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #nome required  type="text"></ion-input>
   </ion-item>
   <ion-label >CPF <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #cpf required  type="text"></ion-input>
   </ion-item>

   <ion-label > E-mail <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #email required  type="text"></ion-input>
   </ion-item>
   <ion-label > Data de nascimento <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #nascimento required  type="date"></ion-input>
   </ion-item>
   <ion-label > Celular <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #celular required  type="text"></ion-input>
   </ion-item>
   <ion-grid fixed>
     <ion-row>
       <ion-col size="6">
        <ion-label > PCD? <ion-text color="danger">*</ion-text></ion-label>

        <ion-item lines='none' class="checkOption" > 
          
          <ion-checkbox #pcd color='medium'> </ion-checkbox>
          <span>⠀Sim</span>
        </ion-item>
       </ion-col>
       <ion-col size="6">
        <ion-label > Empregado? <ion-text color="danger">*</ion-text></ion-label>

        <ion-item lines='none' class="checkOption" > 
          
          <ion-checkbox #empregado > </ion-checkbox>
          <span>⠀Sim</span>
        </ion-item>
       </ion-col>
     </ion-row>
   </ion-grid>
   <ion-label > CEP <ion-text color="danger">*</ion-text></ion-label>

   <ion-item>
     
     <ion-input #cep required  type="text"></ion-input>
   </ion-item>
   
   

   <ion-grid fixed>
     <ion-row>
       <ion-col size="6">
        <ion-label>Estado</ion-label>
       
          
          <ion-select #uf placeholder="Selecione">
            <ion-select-option value="PR">Parana</ion-select-option>
            <ion-select-option value="SC">Santa Catararina</ion-select-option>
            <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
          </ion-select>
       
       </ion-col>
       <ion-col size="6">
        <ion-label>Cidade</ion-label>
       
          
          <ion-select #cidade placeholder="Selecione">
            <ion-select-option value="PR">Parana</ion-select-option>
            <ion-select-option value="SC">Santa Catararina</ion-select-option>
            <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
          </ion-select>
      
       </ion-col>
     </ion-row>
   </ion-grid>

   <ion-grid fixed>
     <ion-row>
       <ion-col size="8">
        <ion-label > Endereço <ion-text color="danger">*</ion-text></ion-label>

        <ion-item class="itemWidth">
          
          <ion-input #endereco required  type="text"></ion-input>
        </ion-item>
     
       </ion-col>
       <ion-col size="4">
        <ion-label > Número <ion-text color="danger">*</ion-text></ion-label>

        <ion-item class="itemWidth-2">
          
          <ion-input #numero required  type="text"></ion-input>
        </ion-item>
     
       </ion-col>
     </ion-row>
   </ion-grid>

  
  <ion-label > Senha <ion-text color="danger">*</ion-text></ion-label>

  <ion-item>
    
    <ion-input #senha required  type="password"></ion-input>
  </ion-item>
  <ion-label > Confirmar Senha <ion-text color="danger">*</ion-text></ion-label>

  <ion-item>
    
    <ion-input required  type="password"></ion-input>
  </ion-item>

   <ion-button  block color="warning" type="submit" >
     Cadastrar
   </ion-button>
 </form>


</ion-content>
