<app-header-back>
  
</app-header-back>
<ion-content fullscreen>

 <form (ngSubmit)="validaForm(nome,cpf, email, nascimento, celular, pcd, empregado, cep, numero, senha)">
   <ion-label >Nome <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #nome required  type="text"></ion-input>
   </ion-item>
   <ion-label >CPF <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #cpf required  [brmasker]="{person: true}" type="text"></ion-input>
   </ion-item>

   <ion-label > E-mail <ion-text color="danger">*</ion-text></ion-label>
   <ion-item>
     
     <ion-input #email required  type="email"></ion-input>
   </ion-item>

   <ion-grid fixed>
     <ion-row>
       <ion-col size="6">
         
        <ion-label >Nascimento <ion-text color="danger">*</ion-text></ion-label>
        
        <ion-item class="nascimento">
          
          <ion-input #nascimento required  [brmasker]="{mask: '00/00/0000', type:'date', len:10}"></ion-input>
        </ion-item>
       </ion-col>
       <ion-col size="6">
        <ion-label > Celular <ion-text color="danger">*</ion-text></ion-label>
        <ion-item class="celular">
          
          <ion-input  #celular required  [brmasker]="{phone: true}"  type="text"></ion-input>
        </ion-item>
       </ion-col>
     </ion-row>
   </ion-grid>

   
   <ion-grid fixed>
     <ion-row>
       <ion-col size="6">
        <ion-label > PCD? <ion-text color="danger">*</ion-text></ion-label>

        <ion-item lines='none' class="checkOption" > 
          
          <ion-checkbox #pcd color='medium'> </ion-checkbox>
          <span>⠀Sim</span>
        </ion-item>
       </ion-col>
       <ion-col size="6">
        <ion-label > Empregado? <ion-text color="danger">*</ion-text></ion-label>

        <ion-item lines='none' class="checkOption" > 
          
          <ion-checkbox #empregado > </ion-checkbox>
          <span>⠀Sim</span>
        </ion-item>
       </ion-col>
     </ion-row>
   </ion-grid>
   
   
   <ion-grid fixed>
     <ion-row>
       <ion-col size="8">
        <ion-label > CEP <ion-text color="danger">*</ion-text></ion-label>

        <ion-item class="itemWidth"> 
          
          <ion-input  #cep required [brmasker]="{mask: '00000-000', type:'num', len:9}" (ionInput)="autoCep(cep)" type="text"></ion-input>
        </ion-item>
     
       </ion-col>
       <ion-col size="4">
        <ion-label > Número <ion-text color="danger">*</ion-text></ion-label>

        <ion-item class="itemWidth-2">
          
          <ion-input #numero required  type="text"></ion-input>
        </ion-item>
     
       </ion-col>
     </ion-row>
   </ion-grid>

   
  <ion-label > Senha <ion-text color="danger">* <span *ngIf="data.password != data.password_confirm" class="error"> Campos devem ser iguais!!! </span></ion-text></ion-label>
  
  <ion-item>
    
    <ion-input #senha required  name="password" [(ngModel)]="data.password" type="password"></ion-input>
  </ion-item>


  
  <ion-label > Confirmar Senha <ion-text color="danger">*</ion-text></ion-label>

  <ion-item>
    
    <ion-input required  name="password_confirm" [(ngModel)]="data.password_confirm"   type="password"></ion-input>
  </ion-item>

   <ion-button  block color="warning" [disabled]="data.password != data.password_confirm" type="submit" >
     Cadastrar
   </ion-button>
 </form>


</ion-content>
