
<ion-content>

 <form (ngSubmit)="validaForm(nome,cpf, email, nascimento, celular, pcd, empregado, cep, numero, senha)">
   <ion-label >Nome <ion-text color="danger">*</ion-text></ion-label>
   <ion-item class="campoForm"> 
     <ion-input #nome required  type="text"></ion-input>
   </ion-item>

   <ion-label >CPF <ion-text color="danger">*</ion-text></ion-label>
   <ion-item class="campoForm">
     
     <ion-input #cpf required  [brmasker]="{person: true}" type="text"></ion-input>
   </ion-item>

   <ion-label > E-mail <ion-text color="danger">*</ion-text></ion-label>
   <ion-item class="campoForm">
     
     <ion-input #email required email type="email"></ion-input>
   </ion-item>

   <ion-grid >
     <ion-row>
       <ion-col size="6">
         
        <ion-label >Nascimento <ion-text color="danger">*</ion-text></ion-label>
        
        <ion-item class="nascimento">
          
          <ion-input #nascimento required  [brmasker]="{mask: '00/00/0000', type:'date', len:10}"></ion-input>
        </ion-item>
       </ion-col>
       <ion-col size="6">
        <ion-label > Celular <ion-text color="danger">*</ion-text></ion-label>
        <ion-item class="celular">
          
          <ion-input  #celular required  [brmasker]="{phone: true}"  type="text"></ion-input>
        </ion-item>
       </ion-col>
     </ion-row>
   </ion-grid>

   
   <ion-grid >
     <ion-row>
       <ion-col size="6">
        <ion-label>PCD?</ion-label>
        <ion-item class="campoForm">
          <ion-select #pcd>
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>
          </ion-select>
        </ion-item>
       </ion-col>
       <ion-col size="6">
        <ion-label>Empregado(a)?</ion-label>
        <ion-item class="campoForm">
          <ion-select #empregado >
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>
          </ion-select>
        </ion-item>
       </ion-col>
     </ion-row>
   </ion-grid>
   
   
   <ion-grid >
     <ion-row>
       <ion-col size="8">
        <ion-label > CEP <ion-text color="danger">*</ion-text></ion-label>

        <ion-item class="itemWidth"> 
          
          <ion-input  #cep required [brmasker]="{mask: '00000-000', type:'num', len:9}" (ionInput)="autoCep(cep)" type="text"></ion-input>
        </ion-item>
     
       </ion-col>
       <ion-col size="4">
        <ion-label > Número <ion-text color="danger">*</ion-text></ion-label>

        <ion-item class="itemWidth-2">
          
          <ion-input #numero required  type="text"></ion-input>
        </ion-item>
     
       </ion-col>
     </ion-row>
   </ion-grid>

   
  <ion-label > Senha <ion-text color="danger">* <span *ngIf="data.password != data.password_confirm" class="error"> Campos devem ser iguais!!! </span> 
                                              
                      </ion-text>
  </ion-label>
  
  <ion-item class="campoForm">
    
    <ion-input #senha required  name="password" [(ngModel)]="data.password" type="password"></ion-input>
  </ion-item>


  
  <ion-label > Confirmar Senha <ion-text color="danger">*</ion-text></ion-label>

  <ion-item class="campoForm">
    
    <ion-input required  name="password_confirm" [(ngModel)]="data.password_confirm"   type="password"></ion-input>
  </ion-item>

   <ion-button class="botoes" [disabled]="data.password != data.password_confirm" type="submit" >
     Cadastrar
   </ion-button>
 </form>


</ion-content>
