
  


<ion-content scroll-y='false' fullscreen>

  <div class="mainCard background-senac">
    <ion-back-button class="btnVoltar" defaultHref="home">Voltar</ion-back-button>
    <h1 class="fonte-1 txtTitulo">Cadastre-se</h1>

    <ion-item mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">CPF</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">Email <b>SENAC</b></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item mode='ios' class="fonte" color="transparent" class="floating-lbl">
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="btnEntrar fonte-2"  >
      Cadastrar
    </ion-button>
    
  </div>

</ion-content>