.hr{
  --border-color: rgb(255, 255, 255) !important;
  width: 94%;
}

.botoes{
  --background: var(--ion-color-light);
  font-family: Noto Sans TC;
  font-size: 15px;
  font-style: normal;
  color:white;

}

.fonte-padrao{
  color: var(--ion-color-medium); 
  font-family: Noto Sans TC;
}
.fonte-secondary{
  color: var(--ion-color-secondary);
  font-family: Noto Sans TC;
}
.my-custom-class {
  --background: var(--ion-color-secondary);
  --spinner-color: var(--ion-color-primary);

  color: #fff;
}
.myClassAlert{
  --background: var(--ion-color-secondary);
  color: #fff;
}