.cardFundo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--ion-color-secondary);

}

.cardButtons {
  position: absolute;
  width: 100%;
  height: 45%;

  top: 55%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px 25px 0px 0px;
}


.logo {
  position: absolute;
width: 591px;
height: 398px;
left: 0px;
top: 305px;


}
.flecha {
  position: absolute;
  width: 67px;
  height: 67px;
  left: 278px;
  top: 253px;
  
  

}

.bemvindo {
  position: absolute;
width: 295px;
height: 73px;
left: 21px;
top: 52px;
font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 43px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.vamosla{
  position: absolute;
  width: 129px;
  height: 43px;
  left: 156px;
  top: 194px;
  
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 43px;
  letter-spacing: 0.015em;
  
  color: #FFFFFF;
  

}