<ion-content>

  <ion-item class="hr">
    <h1 class="olanome fonte-padrao">Olá, {{nomeUsuario}}!</h1>
  </ion-item>
  <ion-item lines="none">
    <h1 class="categorias fonte-padrao">Categorias</h1>
  </ion-item>

  <ion-slides class="slideCategoria" pager="false">
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
          <ion-col size="3">
            <categorias></categorias>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>


  </ion-slides>

  <ion-item lines="none">
    <h1 class="vagas fonte-padrao">Todas as vagas</h1>
  </ion-item>

<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>
<vaga></vaga>






</ion-content>