.cardFundo{
    position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: var(--ion-color-secondary);

}


.olanome{
    position: absolute;
    width: auto;
    height: 35px;
    left: 37px;
    top: 40px;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height */
    
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    

}

//.line{
//    position: absolute;
//width: 321px;
//height: 0px;
//left: 20px;
//top: 88px;
//border: 0.2px solid #FFFFFF;
//}

.categorias{
    position: absolute;
width: 94px;
height: 26px;
left: 19px;
top: 90px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;


letter-spacing: 0.015em;

color: #FFFFFF;
}


.culinaria{
    background-color: var(--ion-color-medium);
position: absolute;
width: 91px;
height: 126px;
left: 19px;
top: 139px;
}



.card-title{
    position: absolute;

left: 17px;


font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
letter-spacing: 0.015em;

color: #3F3D56;

}

.card-titleadm{
    position: absolute;
left: 5px;
font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
letter-spacing: 0.015em;

color: #3F3D56;

}


.informatica{
    background-color: var(--ion-color-medium);
    position: absolute;
    width: 91px;
    height: 126px;
    left: 132px;
    top: 139px;
}


.imginformatica{

    position: absolute;
width: 89px;
height: 80px;
left: 0px;
top: 40px;

}

.administracao{
    background-color: var(--ion-color-medium);
    position: absolute;
    width: 91px;
    height: 126px;
    left: 245px;
    top: 139px;
    
}

.imgadministracao{
  position: absolute;
    width: 100px;
    height: 95px;
    left: 1px;
    top: 36px;
}

.vagas{
    position: absolute;
width: 131px;
height: 26px;
left: 15px;
top: 290px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;

letter-spacing: 0.015em;

color: #FFFFFF;

}


.vagaculinaria{
    background-color: var(--ion-color-medium);
    
position: absolute;
width: 314px;
height: 77px;
left: 17px;
top: 344px;



}

.vagaimgculinaria{
    position: absolute;
    width: 80px;
    height: 75px;
    left: 6px;
    top: 3px;
}


.card-titlevaga{
    position: absolute;
width: 70px;
height: 17px;
left: 90px;
top: 3px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
letter-spacing: 0.015em;

color: #3F3D56;


}
.card-titlevagaadm{
    position: absolute;
width: 70px;
height: 17px;
left: 90px;
top: 3px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 17px;
letter-spacing: 0.015em;

color: #3F3D56;


}



.subtitulo{
    position: absolute;
width: 135px;
height: 16px;
left: 90px;
top: 25px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 5px;
/* identical to box height */

letter-spacing: 0.015em;

color: #3F3D56;
}

.vagaadministracao{
    position: absolute;
width: 314px;
height: 77px;
left: 17px;
top: 449px;

}

.vagaimgadministracao{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 6px;
    top: 3px;
}

.vagainformatica{

    position: absolute;
width: 314px;
height: 77px;
left: 18px;
top: 554px;

}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }

    .item{

        --background: transparent;
        --ion-color-base: transparent !important;
        margin-top: 0.8rem;
        margin-left: -1rem;
        
    }

.slideCategoria{
    top: 10%;
    padding-right: 10px;
}