ion-content{
    --ion-background-color: var(--ion-color-secondary) !important;
    color: var(--ion-color-medium);
    font-family: Noto Sans TC;
}
ion-toolbar {
    --ion-toolbar-background-color: transparent;
    --ion-toolbar-text-color: white;
}

