ion-content{
    --ion-background-color: var(--ion-color-secondary);
  }
  

.decoracao{
    position: absolute;
    width: 100vw;
    height: 450px;
    left: 0px;
    top: 0px;
    
}

.olaaluno{
 position: absolute;
width: 70%;

left: 5%;
top: 15%;

font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 1.8rem;
line-height: 43px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.seuemail{
    --ion-background-color: transparent;
    position: absolute;
    width: 50%;
    left: 10%;
    top: 37%;
}

.suasenha{
    --ion-background-color: transparent;
    position: absolute;
width: 50%;
left: 10%;
top: 50%;


}

.entrar{
    position: absolute;
width: 50%;

left: 65%;
top: 70%;

font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 43px;
letter-spacing: 0.015em;
color: #FFFFFF;

}

.esqueci {
    
position: absolute;
width: 60%;
left: 10%;
top: 89%;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.empresa{
    position: absolute;
width: 60%;
left: 60%;
top: 89%;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.textologin{
    
    font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #FFFFFF;
}

ion-input{
    --color: white;
    
}




ion-item{ --border-color: rgb(255, 255, 255); }