.cardFundo{
    position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: var(--ion-color-secondary);

}

.decoracao{
    position: absolute;
    width: 100vw;
    height: 450px;
    left: 0px;
    top: 0px;
    
}

.olaaluno{
 position: absolute;
width: 248px;
height: 73px;
left: 5%;
top: 25%;

font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 1.8rem;
line-height: 43px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.seuemail{
    --ion-background-color: transparent;
    position: absolute;
    width: 188px;
    left: 10%;
    top: 45%;
}

.suasenha{
    --ion-background-color: transparent;
    position: absolute;
width: 188px;
left: 10%;
top: 55%;


}

.entrar{
    position: absolute;
width: 248px;
height: 73px;
left: 228px;
top: 467px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 43px;
letter-spacing: 0.015em;

color: #FFFFFF;
}

.esqueci {
    
position: absolute;
width: 144px;
height: 17px;
left: 32px;
top: 569px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.empresa{
    position: absolute;
width: 143px;
height: 17px;
left: 210px;
top: 569px;

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.email{
    font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
letter-spacing: 0.015em;

color: #FFFFFF;

}

.senha{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    

}
ion-item{ --border-color: rgb(255, 255, 255); }